name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.4'

      - name: Build application
        run: |
          go build -o paybazaar ./cmd
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64

      - name: Deploy to DigitalOcean VM
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          HOST: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          APP_ENV: ${{ secrets.APP_ENV }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $HOST >> ~/.ssh/known_hosts
          
          scp paybazaar $USERNAME@$HOST:/tmp/paybazaar
          
          ssh $USERNAME@$HOST << 'EOF'
            mkdir paybazaar
            mv /tmp/paybazaar /paybazaar
            chmod +x /paybazaar/paybazaar
            echo "$APP_ENV" > /paybazaar/.env
            cd /paybazaar
            pm2 restart paybazaar || pm2 start paybazaar --name paybazaar
          EOF